/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --p-color: #575757;
    --heading-color: #ebeced;
    --section-background: #f6f6f6;
    --section-padding: 60px;
    --main-duration: 0.5s;
    --main-curve: 10px;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.special-title {
    color: var(--heading-color);
    text-align: center;
    font-size: 100px;
    letter-spacing: -8px;
    font-weight: 800;
    margin: 0;
}

.special-title+p {
    color: var(--p-color);
    text-align: center;
    margin: -30px 0 0;
}

@media (max-width:767px) {
    .special-title {
        font-size: 60px;
        letter-spacing: -4px;
    }

    .special-title+p {
        margin: -19px 0 0;
    }
}

/* End Global Rules */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs-icon {
    display: flex;
    gap: 7.5px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;

}

.tabs {
    position: relative;
}

.tabs ul {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 170px;
    list-style: none;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.tabs ul::before {
    content: '';
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -29px;
    right: 0px;
}

.tabs ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border-bottom: 2px solid #e6e5e5;
    color: black;
    transition: var(--main-duration);
}

.tabs ul li a:hover {
    padding-left: 25px;
}

.tabs-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
    /* margin-bottom: 5px; */
}

.tabs #unique {
    width: 50%;
    align-self: self-end;
    transition: var(--main-duration);
}

.tabs:hover .tabs-icon #unique {
    width: 100%;
}

.tabs:hover ul {
    display: block;
}

/* End Header */
/* Hero Section */
.hero-section {
    background-image: url(../imgs/hero-section-img.jpeg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.hero-section .container {
    text-align: center;
}



.hero-section .container h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

/* End Hero Section */
/* Features Section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    color: var(--secondary-color);
}

.features .container .feat p {
    color: var(--p-color);
}

/* End Features Section */
/* Services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* .services .container .title h2 {
    color: var(--heading-color);
    font-size: 100px;
    letter-spacing: -8px;
    font-weight: 800;
    margin: 0;
}

.services .container .title p {
    color: var(--p-color);
    margin: -30px 0 0;
} */

.services .container .main-serv {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;

}

.services .container .main-serv .col .serv {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}

@media (max-width:767px) {
    .services .container .main-serv .col .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .main-serv .col i {
    color: var(--main-color);
}

.services .container .main-serv .col .serv-text h3 {
    margin-top: 0;
    color: var(--secondary-color);
}

.services .container .main-serv .col .serv-text p {
    margin-top: 0;
    color: var(--p-color);
}

.services .container .main-serv .img {
    /* background-image: url(../imgs/services-img.jpg);
    background-size: 245px;
    background-repeat: no-repeat;
    background-position: center; */
    text-align: center;
    position: relative;
}

.services .container .main-serv .img img {
    border-radius: var(--main-curve);
}

.services .container .main-serv .img::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--secondary-color);
    width: 25%;
    height: calc(100% + 50px);
    right: 0;
    top: -25px;
    border-radius: var(--main-curve);
}

@media(max-width:1199.4px) {
    .services .container .main-serv .img {
        display: none;
    }
}

/* End Services Section */
/* Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .container .main-port {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.portfolio .container .main-port .port-card {
    background-color: white;
    border-radius: var(--main-curve);
}

.portfolio .container .main-port .port-card img {
    max-width: 100%;
    border-top-right-radius: var(--main-curve);
    border-top-left-radius: var(--main-curve);
}

.portfolio .container .main-port .port-card .text-section {
    padding: 0 15px;
}

.portfolio .container .main-port .port-card .text-section h3 {
    color: var(--secondary-color);
}

.portfolio .container .main-port .port-card .text-section p {
    color: var(--p-color);
}

/* End Portfolio Section */
/* About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container .main-about {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about .container .main-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about .container .main-about .about-img {
    background-image: url(../imgs/about.jpg);
    position: relative;
    width: 250px;
    height: 375px;
    background-size: cover;
    border-radius: var(--main-curve);
}

.about .container .main-about .about-img::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 90px;
    height: calc(100% + 50px);
    top: -25px;
    left: -25px;
    z-index: -1;
    background-color: var(--heading-color);
    border-radius: var(--main-curve);
}

.about .container .main-about .about-img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 240px;
    right: -60px;
    top: -50px;
    z-index: -1;
    border-top: 90px solid var(--main-color);
    border-right: 90px solid var(--main-color);
    border-radius: var(--main-curve);

}

@media (max-width:991px) {

    .about .container .main-about .about-img::before,
    .about .container .main-about .about-img::after {
        display: none;
    }
}

.about .container .main-about .text-section {
    flex-basis: calc(100% - 500px);
    line-height: 30px;
}

.about .container .main-about .text-section h3 {
    color: var(--secondary-color);
}

.about .container .main-about .text-section hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .container .main-about .text-section p {
    color: var(--p-color);
}

/* End About Section */
/* Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .container .main-contact {
    margin-top: 75px;
    text-align: center;
}

.contact .container .main-contact>p {
    font-size: 45px;
    letter-spacing: -3px;
    color: var(--secondary-color);
    font-weight: 800;
    margin-bottom: 0;
}

.contact .container .main-contact a {
    font-size: 40px;
    letter-spacing: -2px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
}

@media(max-width:767px) {
    .contact .container .main-contact>p {
        font-size: 25px;
        letter-spacing: -2px;
    }

    .contact .container .main-contact a {
        font-size: 20px;
        letter-spacing: -1px;
    }
}

.contact .container .main-contact .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact .container .main-contact .social i {
    color: var(--secondary-color);
}

/* End Contact Section */
/* Footer */
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;

}

footer p span {
    color: var(--main-color);
    font-weight: 600;
}

/* End Footer */